<html>
   <head>
      <link rel="stylesheet" href='/static/main.css' />
      <title>Not Just Another Demo</title>
   </head>
   <body>
      <div class="words word-1">
        <span>C</span>
        <span>O</span>
        <span>D</span>
        <span>E</span>
        <span>P</span>
        <span>E</span>
        <span>N</span>
      </div>

      <div class="words word-2">
        <span>I</span>
        <span>S</span>
      </div>

      <div class="words word-3">
        <span>C</span>
        <span>O</span>
        <span>O</span>
        <span>L</span>
      </div>
  </body>
</html>